body {
    background-color: #f8f9fa; /* Светло-серый фон */
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #fff; /* Белый фон для контейнера */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 50px auto; /* Отступы сверху и по бокам */
}

h1 {
    color: #333; /* Темно-серый цвет заголовка */
}

.form-control-file {
    border: 1px solid #ced4da; /* Граница для поля загрузки файла */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px;
}

button {
    background-color: #007bff; /* Голубой фон кнопки */
    color: #fff; /* Белый цвет текста */
    border: none; /* Без границы */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
}

button:hover {
    background-color: #0069d9; /* Темнее наведение */
}

#result {
    font-size: 18px;
    color: #333;
}

/* Дополнительные стили для улучшения дизайна */
.mt-5 {
    margin-top: 50px; /* Отступ сверху */
}

.mb-4 {
    margin-bottom: 40px; /* Отступ снизу */
}

.mb-3 {
    margin-bottom: 30px; /* Отступ снизу */
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}